body {
	font-family: 'Lexend', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	width: auto;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a { color: black; }

h1 { font-size: 40pt; }
h2 { font-size: 24pt; }

p { line-height: 1.5; }

footer { clear: both; }
.left { float: left; }
.right { float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
} 

blockquote {
	display: inline-block;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left: 6px solid grey;
	background: #EEEEEE;
	padding: 0 2em 0 1em;
}
