body {
	font-family: 'Lexend', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	width: auto;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a { color: black; }

h1 { font-size: 40pt; }
h2 { font-size: 24pt; }

p { line-height: 1.5; }

footer { clear: both; }
.left { float: left; }
.right { float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
} 

blockquote {
	display: inline-block;
	vertical-align: top;

	max-width: 300px;

	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 6px solid #604080;
	background: #E9E4EE;
	padding: 0 2em 0 1em;
	box-shadow: 0 1px 5px rgba(0,0,0,15%);
}

blockquote > p::first-line {
	font-style: italic;
}

table {
	border-collapse: collapse;
	border: 1px solid #CCC;
}

th, td { padding: 0.4em; }

th {
	background-color: #D0D0D0;
	border: 1px solid #BBB;
}

td {
	border: 1px solid #CCC;
}

tbody tr:nth-child(odd) {
  background-color: #F8F8F8;
}

tbody tr:nth-child(even) {
  background-color: #E4E4E4;
}

hr {
	border-top: 1px solid gray;
}

aside {
	display: block;
	float: right;
	max-width: 300px;

	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-top: 6px solid #405080;
	background: #E4E7EE;
	padding: 0 2em 0 1em;
	box-shadow: 0 1px 5px rgba(0,0,0,15%);
}
