@font-face {
  font-family: 'linja suwi';
  src: url("/assets/fonts/linjasuwi.woff2") format("woff2"), url("/assets/fonts/linjasuwi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  font-family: 'Lexend', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  width: auto; }

.sp {
  font-family: 'linja suwi';
  font-size: 150%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: black; }

h1 {
  font-size: 40pt; }

h2 {
  font-size: 24pt; }

p {
  line-height: 1.5; }

footer {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

blockquote {
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #DDD;
    border-left: 6px solid #614181;
  background-color: #e8e3ed;
  padding: 0 2em 0 1em;
  margin-left: 2em;
  margin-right: 1em; }

blockquote > p::first-line {
  font-style: italic; }

table {
  border-collapse: collapse;
  border: 1px solid #CCC; }

th, td {
  padding: 0.4em; }

th {
  background-color: #D0D0D0;
  border: 1px solid #BBB; }

td {
  border: 1px solid #CCC; }

tbody tr:nth-child(odd) {
  background-color: #F8F8F8; }

tbody tr:nth-child(even) {
  background-color: #E4E4E4; }

hr {
  border-top: 1px solid gray; }

aside {
  display: block;
  float: right;
  max-width: 350px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #DDD;
    border-top: 6px solid #415181;
  background-color: #e3e6ed;
  margin: 1em 0;
  padding: 0 2em 0 1em; }

.lesson-list {
  list-style-type: none;
  margin: -1em 0 1em 0;
  padding: 0; }

.lesson-list > li {
  display: inline-block;
  line-height: 325%;
  margin: 0;
  padding: 0; }

.lesson-list > li > a {
  padding: 0.5em 0.9em 0.5em 0.85em;
  margin: 0.5em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #DDD;
    border-left: 6px solid #618141;
  background-color: #e8ede3;
  color: black; }

.lesson-sep {
  margin: 1.5em 2em -0.5em;
  border: 1px dashed gray; }

/* Dogfalo/materialize // MIT */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }
@media only screen and (min-width: 993px) {
  .container {
    width: 70%; } }
.lesson-info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin: 10px -10px 20px -10px; }

.vocab-list {
  columns: 2 300px; }

.wordbox {
  display: block;
  break-inside: avoid;
  margin: 0 0 15px;
  padding: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #DDD;
    border-left: 6px solid #814141;
  background-color: #ede3e3; }

.vocab-word {
  vertical-align: middle; }

.vocab-word > .sp {
  line-height: 1%;
  vertical-align: middle;
  margin-left: 2px; }

.vocab-word > .inli {
  font-style: italic;
  vertical-align: middle; }

nav.pagenav {
  margin: auto; }

.infobox {
  padding: 10px 10px 20px 10px;
  margin: 10px;
  min-width: 250px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #DDD;
    border-top: 6px solid #418181;
  background-color: #e3eded; }

.ib-title {
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 6px 0; }

.ib-list {
  margin: 4pt 0 0 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  line-height: 1.4; }

.tc {
  columns: 2;
  list-style-position: inside; }
