body {
  font-family: 'Lexend', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  width: auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: black; }

h1 {
  font-size: 40pt; }

h2 {
  font-size: 24pt; }

p {
  line-height: 1.5; }

footer {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

blockquote {
  display: inline-block;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-left: 6px solid #604080;
  background: #E9E4EE;
  padding: 0 2em 0 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

table {
  border-collapse: collapse;
  border: 1px solid #CCC; }

th, td {
  padding: 0.4em; }

th {
  background-color: #D0D0D0;
  border: 1px solid #BBB; }

td {
  border: 1px solid #CCC; }

tbody tr:nth-child(odd) {
  background-color: #F8F8F8; }

tbody tr:nth-child(even) {
  background-color: #E4E4E4; }

hr {
  border-top: 1px solid gray; }

/* Dogfalo/materialize // MIT */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }
@media only screen and (min-width: 993px) {
  .container {
    width: 70%; } }
.card-shadow {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1); }

.lesson-info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin: 10px -10px 20px -10px; }

.vocab-list {
  columns: 2 300px; }

.wordbox {
  display: block;
  break-inside: avoid;
  margin: 0 0 15px;
  padding: 10px;
  background-color: #EEE4E4;
  border: 1px solid #DDD;
  border-left: 6px solid #804040;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.vocab-word {
  font-style: italic; }

nav.pagenav {
  margin: auto; }

.infobox {
  border: 1px solid #ddd;
  border-top: 6px solid #408080;
  padding: 10px 10px 20px 10px;
  margin: 10px;
  min-width: 250px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: #E4EEEE; }

.ib-title {
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin: 10px 0 6px 0; }

.ib-list {
  margin: 4pt 0 0 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  line-height: 1.4; }

.tc {
  columns: 2;
  list-style-position: inside; }
